# node
node_modules/
frontend/node_modules/

#frontend/public/hotdog_model
#frontend/public/language_model
jupyter/
.DS_Store
# hardhat
cache
artifacts
test/

# Ignore the output from circom because we want people to build these
# Users can remove these lines and commit the artifacts
circuits/*.r1cs
circuits/*.vkey.json
#circuits/*.wasm
#circuits/*.zkey
#custom build script
build/
phase1/
